### SQLite
* The database stored in single file, making it portable.
* We can access sqlite with python directly
* Only one process at a time can write to database.
* There is no caching feature
* No built in security

### PostgreSQL
* It comprises server and client, server manages database and handle queries.Multiple client can communicate with server at the same time.
* PostgreSQL uses port 5432 by default
* Postgres is imlemented as server, whereas sqlite3 is just single database file. Postgres accepts connections from clients.
* Python client `psycopg2` is most common to use with python

* We can use sqlite3 or sqlalchemy to access sqlite databse

## sqlite3

In [102]:
import sqlite3

In [103]:
conn = sqlite3.connect('emaildb.sqlite') # Make connection
# check access to file
# returns connection instance
# to keep sqlite lightweight it avoids concurrent access to same file 
# meaning other python program can not make connection with above file at
# same time.

In [104]:
cur = conn.cursor() # is like handler.
#Send SQL to cursor and get response with same cursor

* Cusrsor class is used to 
     - Run query against database
     - Parse the result from database
     - Convert the result to native python object
     - Store the results within the cursor instance a local variable
     - We can result as list of tuples

* `cur.fetchall()` will fetch full result of query
* `cur.fetchone()` to get single result
* `cur.fetchmany(n)` to get n result
* Each cursor instance has internal counter that update every time we retrieve the results.

In [105]:
cur.execute('DROP TABLE IF EXISTS Counts')

In [106]:
cur.execute('''
CREATE TABLE Counts (
email TEXT,
count INTEGER)''')

In [107]:
with open('mbox.txt', 'r') as f:
    for line in f:
        if not line.startswith('From:'): continue
        
        pieces = line.split()
        email = pieces[1]
        cur.execute('SELECT count FROM Counts WHERE email = ?', (email,))
        # above statement is not retrieving data, we just prepare the cursor
        # we are opening record set
        row = cur.fetchone() # grab the first one from set of records
        
        if row is None:
            cur.execute('''INSERT INTO Counts (email, count)
                        VALUES (?, 1)''', (email,))
        else:
            cur.execute('''UPDATE Counts 
                            SET count = count + 1 
                            WHERE email = ?''', (email,))
            # updating value directly in database is good when dealing with
            # concurrent access instead reading in python variable
            # and increment by 1 and setting it. Update statement will be
            # atomic
        conn.commit() # Forces thing to return to disk.

In [108]:
for row in cur.execute('SELECT * FROM Counts LIMIT 10'):
    print(str(row[0]), row[1])
cur.close()

stephen.marquard@uct.ac.za 29
louis@media.berkeley.edu 24
zqian@umich.edu 195
rjlowe@iupui.edu 90
cwen@iupui.edu 158
gsilver@umich.edu 28
wagnermr@iupui.edu 44
antranig@caret.cam.ac.uk 18
gopal.ramasammycook@gmail.com 25
david.horwitz@uct.ac.za 67

* We can skip creating cursor and directly call execute on connection instance.
```
result = conn.execute(query).fetchall()
```

* We can close the connection with database using
* `conn.close()`

In [109]:
conn = sqlite3.connect('emaildb1.sqlite')

In [110]:
cur = conn.cursor()

In [111]:
result = cur.execute("SELECT * FROM sqlite_master WHERE type = 'table'").fetchall()

In [112]:
result

[('table',
  'Counts',
  'Counts',
  2,
  'CREATE TABLE Counts (\n    org TEXT,\n    count INTEGER\n)')]

In [116]:
schema = conn.execute('pragma table_info(Counts);').fetchall()

In [117]:
schema

[(0, 'org', 'TEXT', 0, None, 0), (1, 'count', 'INTEGER', 0, None, 0)]

In [72]:
import pandas as pd

In [74]:
pd.read_sql_query("SELECT * FROM sqlite_master WHERE type = 'table'", conn)

,type,name,tbl_name,rootpage,sql
0,table,Counts,Counts,2,"CREATE TABLE Counts (\n org TEXT,\n coun..."

#### EXPLAIN QUERY PLAN
* Putting EXPLAIN QUERY PLAN before any query will return high level query plan

In [118]:
cur.execute('EXPLAIN QUERY PLAN SELECT * FROM Counts').fetchall()

[(2, 0, 0, 'SCAN TABLE Counts')]

* SCAN TABLE means query will acecess entire table.
* `(0, 0, 0, 'SEARCH TABLE facts USING INTEGER PRIMARY KEY (rowid=?)')` It means that we are looking for priamry key and it will serach using binary search as it is sorted according to that. SQLite uses rowid to refer to the primary key of a table.
* SQLite can take advantage of fast lookup when searching for a specific primary key.
* we could create a separate table that's optimized for lookups by a different column from the table instead of by the primary key. Such table is called index table. it store value we want to index by and other value which is primary key of actual table.

* To create index

```
CREATE INDEX IF NOT EXISTS index_name ON table_name(column_name);
```
* Each index needs to be stored in the database file. In addition, adding, editing, and deleting rows takes longer since each of the affected indexes need to be updated. Since indexes can be created after a table is created, it's recommended to only create an index when you find yourself querying on a specific column frequently.

![](images/index.jpg)

* Multi column index is needed when we want mulitple column in where clause to have full advantage.
* To create,

```
CREATE INDEX index_name ON table_name(column_name_1, column_name_2);
```
* When an index contains all of the information necessary to answer a query, it's called a covering index.

In [97]:
import sqlite3
import json
conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

In [98]:
cur.executescript('''

DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name TEXT UNIQUE
);

CREATE TABLE Course (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title TEXT UNIQUE
);

CREATE TABLE Member (
    user_id INTEGER,
    course_id INTEGER,
    role INTEGER,
    PRIMARY KEY (user_id, course_id)
);
''')

In [99]:
fd = open('roster_data.json', 'r')

In [100]:
str_data = fd.read()
json_data = json.loads(str_data)

In [102]:
for entry in json_data:
    name = entry[0]
    title = entry[1]
    role = entry[2]
    cur.execute('INSERT OR IGNORE INTO User(name) VALUES (?)', (name,))
    cur.execute('SELECT id FROM User WHERE name = ?', (name,))
    user_id = cur.fetchone()[0]
    cur.execute('INSERT OR IGNORE INTO Course(title) VALUES (?)', (title,))
    cur.execute('SELECT id FROM Course WHERE title = ?', (title,))
    course_id = cur.fetchone()[0]
    cur.execute('INSERT OR REPLACE INTO Member (User_id, Course_id, role) VALUES (?,?,?)', (user_id, course_id, role))
    conn.commit()

------------

## SQLAlchey

In [6]:
from sqlalchemy import create_engine
import pandas as pd
# connect with db, supply type and name of db.
engine = create_engine('sqlite:///emaildb1.sqlite')

* engine is common interface to the database.
* Connection string needs all info to identify database and login if necessary.
    - sqlite:///emaildb1.sqlite 
    - sqlite is driver+dialect
    - emaildb1.sqlite database filename.

In [7]:
engine.table_names() # return list of table names

['Counts']

#### Reflection
* Reflection reads database and builds SQLAlchemy table object
* Metadata is like catalog that stores database information so we do not have to keep looking them up

In [21]:
from sqlalchemy import MetaData, Table

In [22]:
metadata = MetaData()

In [24]:
count = Table('Counts', metadata, autoload=True, autoload_with=engine)

In [27]:
count

Table('Counts', MetaData(bind=None), Column('org', TEXT(), table=<Counts>), Column('count', INTEGER(), table=<Counts>), schema=None)

In [29]:
count.columns.keys() # returns list of column names

['org', 'count']

In [32]:
metadata.tables['Counts'] # more detail about reflected columns

Table('Counts', MetaData(bind=None), Column('org', TEXT(), table=<Counts>), Column('count', INTEGER(), table=<Counts>), schema=None)

In [8]:
con = engine.connect()

In [9]:
res = con.execute('SELECT * FROM Counts')

In [11]:
df = pd.DataFrame(res.fetchall())

In [13]:
df.head()

                    0    1
0           uct.ac.za   96
1  media.berkeley.edu   56
2           umich.edu  491
3           iupui.edu  536
4     caret.cam.ac.uk  157

In [15]:
df.columns = res.keys()

In [16]:
df.head()

                  org  count
0           uct.ac.za     96
1  media.berkeley.edu     56
2           umich.edu    491
3           iupui.edu    536
4     caret.cam.ac.uk    157

* we can establish connection using 
```
with engine.connect() as con:
```

In [17]:
df = pd.read_sql_query('SELECT * FROM Counts', engine)

In [19]:
df.head()

                  org  count
0           uct.ac.za     96
1  media.berkeley.edu     56
2           umich.edu    491
3           iupui.edu    536
4     caret.cam.ac.uk    157

* SQLAlchemi provides pythonic way to access data from database. So we do not have to deal with difference of carious relational database systems.

In [34]:
from sqlalchemy import select

In [35]:
count = Table('Counts', metadata, autoload= True, autoload_with=engine)

In [36]:
stmt = select([count])

In [38]:
res = con.execute(stmt).fetchall()

In [39]:
res[0]

('uct.ac.za', 96)

In [40]:
res[0][0]

'uct.ac.za'

In [41]:
res[0]['org']

'uct.ac.za'

In [42]:
con.close()

In [43]:
conn = create_engine('sqlite:///census.sqlite')

In [64]:
conn.table_names()

['census', 'state_fact']

In [45]:
census = Table('census', metadata, auto_load=True,autoload_with=conn)

In [46]:
stmt = select([census]) # select all records

In [47]:
stmt = stmt.where(census.columns.state=='California')

In [48]:
results = conn.execute(stmt).fetchall()

In [50]:
results[:5]

[('California', 'M', 0, 252494, 287900),
 ('California', 'M', 1, 247978, 282445),
 ('California', 'M', 2, 250644, 274754),
 ('California', 'M', 3, 257443, 271675),
 ('California', 'M', 4, 266855, 267228)]

In [51]:
stmt = select([census])

In [52]:
stmt = stmt.where(census.columns.state.startswith('New'))

In [54]:
conn.execute(stmt).fetchall()[:5]

[('New Jersey', 'M', 0, 56983, 58756),
 ('New Jersey', 'M', 1, 56686, 57325),
 ('New Jersey', 'M', 2, 57011, 55475),
 ('New Jersey', 'M', 3, 57912, 56059),
 ('New Jersey', 'M', 4, 59359, 58048)]

In [55]:
stmt = select([census])

In [70]:
from sqlalchemy import or_, and_

In [60]:
stmt = stmt.where(
        or_(census.columns.state == 'California', census.columns.state == 'New York')
    )

In [63]:
conn.execute(stmt).fetchall()[:5]

[('New York', 'M', 0, 126237, 128088),
 ('New York', 'M', 1, 124008, 125649),
 ('New York', 'M', 2, 124725, 121615),
 ('New York', 'M', 3, 126697, 120580),
 ('New York', 'M', 4, 131357, 122482)]

In [65]:
stmt = select([census])

In [67]:
stmt = stmt.where(census.columns.state.in_(('New Jersey', 'California')))

In [69]:
conn.execute(stmt).fetchall()[-5:]

[('California', 'F', 81, 65410, 76815),
 ('California', 'F', 82, 61518, 74131),
 ('California', 'F', 83, 54748, 71991),
 ('California', 'F', 84, 50746, 65912),
 ('California', 'F', 85, 294583, 400288)]

* there are others like `and_()`, `not_()`

In [71]:
stmt = select([census])

In [72]:
stmt = stmt.where(
    and_(census.columns.state=='California', census.columns.sex!='M')
)

In [73]:
conn.execute(stmt).fetchall()[:5]

[('California', 'F', 0, 239605, 274356),
 ('California', 'F', 1, 236543, 269140),
 ('California', 'F', 2, 240010, 262556),
 ('California', 'F', 3, 245739, 259061),
 ('California', 'F', 4, 254522, 255544)]

* `order_by()` method

In [82]:
from sqlalchemy import desc

In [74]:
stmt = select([census.columns.state])

In [75]:
stmt = stmt.order_by(census.columns.state)

In [76]:
conn.execute(stmt).fetchall()[:5]

[('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',), ('Alabama',)]

In [83]:
stmt = select([census.columns.state])

In [85]:
stmt = stmt.order_by(desc(census.columns.state))

In [86]:
conn.execute(stmt).fetchall()[:5]

[('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',)]

In [78]:
stmt = select([census.columns.state, census.columns.sex])

In [80]:
stmt = stmt.order_by(census.columns.state, census.columns.sex)

In [81]:
conn.execute(stmt).fetchall()[-5:]

[('Wyoming', 'M'),
 ('Wyoming', 'M'),
 ('Wyoming', 'M'),
 ('Wyoming', 'M'),
 ('Wyoming', 'M')]

* Counting, sum, group by

In [87]:
from sqlalchemy import func

In [88]:
stmt = select([func.sum(census.columns.pop2008)])

In [89]:
results = conn.execute(stmt).scalar()

In [90]:
results

302876613

In [91]:
stmt = select([census.columns.sex, func.sum(census.columns.pop2008)])

In [92]:
stmt = stmt.group_by(census.columns.sex)

In [93]:
conn.execute(stmt).fetchall()

[('F', 153959198), ('M', 148917415)]

* `label` method work as `AS`. Not using it will names as sum_1, count_2

In [95]:
stmt = select([census.columns.sex, census.columns.age, func.sum(census.columns.pop2008).label('pop2008_sum')])

In [96]:
stmt = stmt.group_by(census.columns.sex, census.columns.age)

In [97]:
conn.execute(stmt).fetchall()

[('F', 0, 2105442),
 ('F', 1, 2087705),
 ('F', 2, 2037280),
 ('F', 3, 2012742),
 ('F', 4, 2014825),
 ('F', 5, 1991082),
 ('F', 6, 1977923),
 ('F', 7, 2005470),
 ('F', 8, 1925725),
 ('F', 9, 1905935),
 ('F', 10, 1909338),
 ('F', 11, 1923628),
 ('F', 12, 1960942),
 ('F', 13, 1990284),
 ('F', 14, 2007966),
 ('F', 15, 2047109),
 ('F', 16, 2086274),
 ('F', 17, 2118217),
 ('F', 18, 2151506),
 ('F', 19, 2071680),
 ('F', 20, 2042212),
 ('F', 21, 2023820),
 ('F', 22, 2035751),
 ('F', 23, 2047109),
 ('F', 24, 2010175),
 ('F', 25, 2043330),
 ('F', 26, 2071963),
 ('F', 27, 2114346),
 ('F', 28, 2111476),
 ('F', 29, 2009546),
 ('F', 30, 1955430),
 ('F', 31, 1933802),
 ('F', 32, 1887669),
 ('F', 33, 1944248),
 ('F', 34, 1893332),
 ('F', 35, 1944749),
 ('F', 36, 2038510),
 ('F', 37, 2158525),
 ('F', 38, 2188432),
 ('F', 39, 2074738),
 ('F', 40, 2040883),
 ('F', 41, 2051985),
 ('F', 42, 2107555),
 ('F', 43, 2251441),
 ('F', 44, 2296876),
 ('F', 45, 2294913),
 ('F', 46, 2300277),
 ('F', 47, 2330046),
 ('F', 48, 2359864),
 ('F', 49, 2274368),
 ('F', 50, 2275105),
 ('F', 51, 2253432),
 ('F', 52, 2167812),
 ('F', 53, 2169508),
 ('F', 54, 2085295),
 ('F', 55, 2017625),
 ('F', 56, 1947587),
 ('F', 57, 1899425),
 ('F', 58, 1887137),
 ('F', 59, 1816175),
 ('F', 60, 1797872),
 ('F', 61, 1883678),
 ('F', 62, 1406381),
 ('F', 63, 1400225),
 ('F', 64, 1378584),
 ('F', 65, 1424535),
 ('F', 66, 1256115),
 ('F', 67, 1164669),
 ('F', 68, 1129253),
 ('F', 69, 1067893),
 ('F', 70, 1046345),
 ('F', 71, 981123),
 ('F', 72, 959722),
 ('F', 73, 957927),
 ('F', 74, 870431),
 ('F', 75, 867899),
 ('F', 76, 850273),
 ('F', 77, 835087),
 ('F', 78, 842178),
 ('F', 79, 782909),
 ('F', 80, 771405),
 ('F', 81, 737807),
 ('F', 82, 696457),
 ('F', 83, 677782),
 ('F', 84, 626900),
 ('F', 85, 3858203),
 ('M', 0, 2207690),
 ('M', 1, 2188059),
 ('M', 2, 2133612),
 ('M', 3, 2109367),
 ('M', 4, 2109130),
 ('M', 5, 2085378),
 ('M', 6, 2066325),
 ('M', 7, 2094373),
 ('M', 8, 2019291),
 ('M', 9, 1993747),
 ('M', 10, 1999151),
 ('M', 11, 2010203),
 ('M', 12, 2055416),
 ('M', 13, 2090428),
 ('M', 14, 2107271),
 ('M', 15, 2152832),
 ('M', 16, 2186095),
 ('M', 17, 2223361),
 ('M', 18, 2253570),
 ('M', 19, 2147115),
 ('M', 20, 2111743),
 ('M', 21, 2090965),
 ('M', 22, 2108355),
 ('M', 23, 2129494),
 ('M', 24, 2106323),
 ('M', 25, 2153586),
 ('M', 26, 2163632),
 ('M', 27, 2172250),
 ('M', 28, 2167246),
 ('M', 29, 2067652),
 ('M', 30, 2011533),
 ('M', 31, 1980193),
 ('M', 32, 1929255),
 ('M', 33, 1969388),
 ('M', 34, 1916053),
 ('M', 35, 1955657),
 ('M', 36, 2047843),
 ('M', 37, 2151744),
 ('M', 38, 2203289),
 ('M', 39, 2076930),
 ('M', 40, 2035686),
 ('M', 41, 2034924),
 ('M', 42, 2094261),
 ('M', 43, 2236680),
 ('M', 44, 2257419),
 ('M', 45, 2242635),
 ('M', 46, 2250397),
 ('M', 47, 2264420),
 ('M', 48, 2313266),
 ('M', 49, 2204382),
 ('M', 50, 2204719),
 ('M', 51, 2169283),
 ('M', 52, 2078164),
 ('M', 53, 2090520),
 ('M', 54, 1984127),
 ('M', 55, 1911151),
 ('M', 56, 1843396),
 ('M', 57, 1785455),
 ('M', 58, 1776523),
 ('M', 59, 1694266),
 ('M', 60, 1673581),
 ('M', 61, 1754533),
 ('M', 62, 1287720),
 ('M', 63, 1276490),
 ('M', 64, 1243069),
 ('M', 65, 1277532),
 ('M', 66, 1110498),
 ('M', 67, 1018081),
 ('M', 68, 979692),
 ('M', 69, 920414),
 ('M', 70, 888121),
 ('M', 71, 819904),
 ('M', 72, 788451),
 ('M', 73, 773821),
 ('M', 74, 688414),
 ('M', 75, 671805),
 ('M', 76, 645449),
 ('M', 77, 619385),
 ('M', 78, 608857),
 ('M', 79, 551321),
 ('M', 80, 526851),
 ('M', 81, 488633),
 ('M', 82, 441464),
 ('M', 83, 413678),
 ('M', 84, 368867),
 ('M', 85, 1863565)]

* Distict

In [98]:
stmt = select([census.columns.state.distinct()])

In [100]:
conn.execute(stmt).fetchall()[:5]

[('Illinois',),
 ('New Jersey',),
 ('District of Columbia',),
 ('North Dakota',),
 ('Florida',)]

### Conncect with postgres
### psycopg2

In [75]:
import psycopg2

In [79]:
conn = psycopg2.connect(dbname='postgres', user='postgres',password='purvil')

In [80]:
cur = conn.cursor()

* As postgresql support multiple database and multiple users we have to specify dbname and user as well as password if required.

* Default database postgres and user is postgres.

In [87]:
cur.execute('''CREATE TABLE notes (
                id integer,
                body text,
                title text
            );''')

* Here immediately changes in database will not occur. This feature is called transaction. Whenever we open connection in psycopg2, new transaction will occur. All queries we run will put in same transaction. When we commit transaction all the queries will be executed.We can call rollback to remove the transaction.
* Not calling commit or rollback will cause transaction to be in pending state.

In [88]:
conn.commit()

* Auto committing also available when we do not want to manage transaction

```
conn.autocommit = True
```
* Now we will not have to call commit().

In [89]:
conn.autocommit = True

In [93]:
cur.execute('''INSERT INTO notes VALUES (1, 'This is my note text.', 'Test note');''')

In [95]:
cur.execute('''SELECT * FROM notes;''')

In [96]:
cur.fetchall()

[(1, 'This is my note text.', 'Test note')]

#### Create database

* execute following query

```
CREATE DATABASE dbname OWNER postgres; 

DROP DATABASE dbname;
```

### ibm_db

In [19]:
import ibm_db

In [20]:
dsn_hostname = "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "mzn69827"        # e.g. "abc12345"
dsn_pwd = "4njqc0bf+ghhd1h6"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

In [21]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

In [22]:
try:
    conn = ibm_db.connect(dsn, "", "")
    print('connected')
except:
    print('error')

connected

In [23]:
server = ibm_db.server_info(conn)
print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.01.0303
DB_NAME:    BLUDB

In [24]:
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           DB2CLI.DLL
DRIVER_VER:            11.01.0303
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1252
CONN_CODEPAGE:         1208

In [29]:
drop = 'DROP TABLE INSTRUCTOR'

dropstmt = ibm_db.exec_immediate(conn, drop)

In [30]:
create = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

In [31]:
createstmt = ibm_db.exec_immediate(conn, create)

In [32]:
insert = "INSERT INTO INSTRUCTOR VALUES (1, 'Rav', 'Ahuja', 'San Diego', 'CA')"

In [33]:
insertstmt = ibm_db.exec_immediate(conn, insert)

In [34]:
select = 'SELECT * FROM INSTRUCTOR'

In [35]:
selectstmt = ibm_db.exec_immediate(conn, select)

In [37]:
ibm_db.fetch_both(selectstmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'San Diego',
 3: 'San Diego',
 'CCODE': 'CA',
 4: 'CA'}

In [40]:
insert2 = "INSERT INTO INSTRUCTOR VALUES (2, 'purvil', 'dave', 'LA', 'US'), (3, 'japan', 'dave', 'RD', 'WA')"

In [41]:
ibm_db.exec_immediate(conn, insert2)

In [42]:
select = 'SELECT * FROM INSTRUCTOR'
selectstmt = ibm_db.exec_immediate(conn, select)

In [43]:
while ibm_db.fetch_row(selectstmt) != False:
    print(ibm_db.result(selectstmt,'LNAME'), ibm_db.result(selectstmt,'FNAME'))

Ahuja Rav
dave purvil
dave japan

In [44]:
import pandas
import ibm_db_dbi

In [46]:
pconn = ibm_db_dbi.Connection(conn)

In [47]:
pdf = pandas.read_sql(select, pconn)

In [48]:
pdf

   ID   FNAME  LNAME       CITY CCODE
0   1     Rav  Ahuja  San Diego    CA
1   2  purvil   dave         LA    US
2   3   japan   dave         RD    WA

In [56]:
ibm_db.close(conn)

True

In [58]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [65]:
%sql ibm_db_sa://mzn69827:4njqc0bf%2Bghhd1h6@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Can't load plugin: sqlalchemy.dialects:ibm_db_sa
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [63]:
%%sql
SELECT * FROM INSTRUCTOR

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [66]:
%%sql

CREATE TABLE INTERNATIONAL_STUDENT_TEST_SCORES (
	country VARCHAR(50),
	first_name VARCHAR(50),
	last_name VARCHAR(50),
	test_score INT
);
INSERT INTO INTERNATIONAL_STUDENT_TEST_SCORES (country, first_name, last_name, test_score)
VALUES
('United States', 'Marshall', 'Bernadot', 54),
('Ghana', 'Celinda', 'Malkin', 51),
('Ukraine', 'Guillermo', 'Furze', 53)

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [67]:
country = "Canada"
%sql select * from INTERNATIONAL_STUDENT_TEST_SCORES where country = :country

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [68]:
test_score_distribution = %sql SELECT test_score as "Test Score", count(*) as "Frequency" from INTERNATIONAL_STUDENT_TEST_SCORES GROUP BY test_score;
test_score_distribution

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [69]:
dataframe = test_score_distribution.DataFrame()

AttributeError: 'NoneType' object has no attribute 'DataFrame'

In [70]:
chicago_socioeconomic_data = pandas.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
%sql PERSIST chicago_socioeconomic_data

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

* PERSIST write data from dataframe to table